<div class="container" style="width: 450px; height: 500px;">
  <h3 style="margin-bottom: 60px; margin-left: 20px">Restablece tu contraseña</h3>
  <form [formGroup]="passWordreset" (ngSubmit)="resetpass()">
    <div class="example-container">
      <div style="margin-bottom:30px">
<li>La contraseña debe ser de 4 numeros</li>
<li>La contraseña no debe tener numeros consecutivos</li>
<li>La contraseña no debe ser igual a la anterior </li>
<li>La contraseña no debe contener letras </li>
</div>
      <mat-form-field>
        <input matInput maxlength="4" [(ngModel)]="password" placeholder="Nueva Contraseña" formControlName="password">
      </mat-form-field>

      <mat-form-field>
        <input matInput maxlength="4" (keyup)="passOk($event)"[(ngModel)]="passwordconfirm" placeholder="Confirmar Contraseña" formControlName="passwordconfirm">
      </mat-form-field>
    </div>
    <div class="text-center" *ngIf="passEqual" style="color: red"><i class="material-icons">error_outline</i>
    <h6>Las contaseñas no coinciden</h6></div>
    <mat-divider style="margin-top: 15px; margin-bottom: 15px"></mat-divider>
    <div style="margin-left: 170px;margin-top: 30px">
      <button mat-raised-button type="submit" >Reestablecer</button>
      <button mat-raised-button matDialogClose>Cancelar</button>
    </div>
  </form>
</div>